<app-nav></app-nav>

<ion-content>
  <ion-title style="text-align: center; margin-top: 20px; margin-bottom: 30px">Productos</ion-title>

  <ion-grid>
    <ion-col>
      <ion-input label="Buscar por nombre" placeholder="Nombre"></ion-input>
      <ion-input label="Filtrar por categoría" placeholder="Categoría"></ion-input>
      <ion-input label="Filtrar por proveedor" placeholder="Proveedor"></ion-input>
      <ion-button>Añadir producto</ion-button>
    </ion-col>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <div class="producto" *ngFor="let producto of productos">
          <img alt="Producto 1" src="{{producto.imagen}}}" />
          <h3> {{producto.nombre}}</h3>
          <p>{{producto.descripcion}}</p>
          <p>{{producto.precio}}</p>
          <p>{{producto.categoria}}</p>
          <p>{{producto.proveedor}}</p>
        </div>
    </ion-row>
  </ion-grid>
</ion-content>

