<ion-content [fullscreen]="true" class="centrar">
  <ion-card class="carta">
    <ion-card-header>
      <ion-card-title class="centrar">Bienvenido al inventario</ion-card-title>
      <ion-card-subtitle class="centrar">Inventario</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <!-- Email -->
        <ion-label>Introduce tu correo electrónico</ion-label>
        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tu email"
          [(ngModel)]="login.email"
          name="email"
          required
          #email="ngModel">
        </ion-input>
        <div *ngIf="email.invalid && email.touched" class="error-message">
          El correo es obligatorio
        </div>

        <!-- Contraseña -->
        <ion-label>Introduce tu contraseña</ion-label>
        <ion-input
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Introduce tu contraseña"
          [(ngModel)]="login.contrasena"
          type="password"
          name="contrasena"
          required
          #password="ngModel">
        </ion-input>
        <div *ngIf="password.invalid && password.touched" class="error-message">
          La contraseña es obligatoria
        </div>

        <!-- Botones -->
        <ion-button type="submit" [disabled]="loginForm.invalid">Entrar</ion-button>
        <ion-button routerLink="/register">Registrarse</ion-button>

        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
