<app-nav></app-nav>

<ion-content>
  <ion-title style="text-align: center; margin-top: 20px; margin-bottom: 30px">Proveedores</ion-title>
  <ion-button class="centrar" id="open-modal">Agregar un proveedor</ion-button>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" class="ion-text-center"><strong>ID</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Nombre</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Email</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Teléfono</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Dirección</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let proveedor of proveedores">
      <ion-col size="2" class="ion-text-center">{{proveedor.id}}</ion-col>
      <ion-col size="3" class="ion-text-center">{{proveedor.nombre}}</ion-col>
      <ion-col size="3" class="ion-text-center">{{proveedor.email}}</ion-col>
      <ion-col size="2" class="ion-text-center">{{proveedor.telefono}}</ion-col>
      <ion-col size="2" class="ion-text-center">{{proveedor.direccion}}</ion-col>
    </ion-row>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Agregar un proveedor nuevo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form (ngSubmit)="anyadirProveedor()">
            <ion-item>
              <ion-input
                name="nombre"
                label="Introduce el nombre"
                labelPlacement="stacked"
                type="text"
                placeholder="Nombre"
                [(ngModel)]="proveedorNuevo.nombre"
                [ngModelOptions]="{standalone: true}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="email"
                label="Introduce el email"
                labelPlacement="stacked"
                type="text"
                placeholder="Email"
                [(ngModel)]="proveedorNuevo.email"
                [ngModelOptions]="{standalone: true}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="contrasena"
                label="Introduce el teléfono"
                labelPlacement="stacked"
                type="text"
                placeholder="contraseña"
                [(ngModel)]="proveedorNuevo.telefono"
                [ngModelOptions]="{standalone: true}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="rol"
                label="Introduce la dirección"
                labelPlacement="stacked"
                type="text"
                placeholder="rol"
                [(ngModel)]="proveedorNuevo.direccion"
                [ngModelOptions]="{standalone: true}"
              ></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block">Añadir</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-grid>
</ion-content>
