<app-nav></app-nav>

<ion-content>
  <ion-title style="text-align: center; margin-top: 20px; margin-bottom: 30px">Usuarios</ion-title>
  <ion-button class="centrar" id="open-modal">Agregar un usuario</ion-button>

  <!-- Tabla de Usuarios usando ion-grid -->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2" class="ion-text-center"><strong>ID</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Nombre</strong></ion-col>
      <ion-col size="3" class="ion-text-center"><strong>Email</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Contraseña</strong></ion-col>
      <ion-col size="2" class="ion-text-center"><strong>Rol</strong></ion-col>
    </ion-row>

    <!-- Aquí van los datos de los usuarios -->
    <ion-row *ngFor="let usuario of usuarios">
      <ion-col size="2" class="ion-text-center">{{usuario.id}}</ion-col>
      <ion-col size="3" class="ion-text-center">{{usuario.nombre}}</ion-col>
      <ion-col size="3" class="ion-text-center">{{usuario.email}}</ion-col>
      <ion-col size="2" class="ion-text-center">{{usuario.contrasena}}</ion-col>
      <ion-col size="2" class="ion-text-center">{{usuario.rol}}</ion-col>
      <ion-button (click)="eliminarUsuario(usuario.id)" color="danger">Eliminar</ion-button>
    </ion-row>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Agregar un usuario nuevo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="anyadirUsuario()">
          <ion-item>
            <ion-input
              name="nombre"
              label="Introduce el nombre"
              labelPlacement="stacked"
              type="text"
              placeholder="Nombre"
              [(ngModel)]="usuarioNuevo.nombre"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="email"
              label="Introduce el email"
              labelPlacement="stacked"
              type="text"
              placeholder="Email"
              [(ngModel)]="usuarioNuevo.email"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="contrasena"
              label="Introduce la contraseña"
              labelPlacement="stacked"
              type="text"
              placeholder="contraseña"
              [(ngModel)]="usuarioNuevo.contrasena"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="rol"
              label="Introduce el rol"
              labelPlacement="stacked"
              type="text"
              placeholder="rol"
              [(ngModel)]="usuarioNuevo.rol"
              [ngModelOptions]="{standalone: true}"
            ></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block">Añadir</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-grid>
</ion-content>
